/** Table items */
.text-task {
  text-align: justify;
}
.check-box {
  align-items: center;
  justify-content: center;
}
input[type='checkbox']:disabled {
  border: 1px solid var(--text-color);
}
input[type='text']:disabled {
  background-color: var(--secondary-color);
  border: none;
}
input[type='text']:disabled:hover {
  background-color: var(--light2);
}
